@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-950 text-neutral-100;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100 dark:bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-400 dark:bg-violet-600 rounded-full;
}

::selection {
  @apply bg-violet-200 dark:bg-violet-900;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
